*{
  padding: 0;
  margin: 0;
  border: none;
}

body{
  font-family: sans-serif;
  font-size: 18px;
  min-height: 100vh;
  background-color: rgb(249, 245, 245);
}
a{
  text-decoration: none;
  color: inherit;
  text-decoration: underline rgba(187, 0, 0, 0.69);
}

.container{
  display: flex;
}
.left{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  min-height: 100vh;
  background-image: url(media/background-1.jpg);
  background-size: cover;
}
.logo-container{
  margin-top: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.415);
  color: white;
  font-size: 1.5rem;
  height: 4em;
}
.logo-container > h2{
  font-weight: 400;
}
.picture-credits{
  color: white;
  margin-bottom: 0.5em;
}
.picture-credits p {
  font-weight: 100;
}
.right{
  display: flex;
  flex-direction: column;
  width: 80%;
  background-color: rgb(42, 3, 3);
  color: white;
}
.top-text{
  border: 2px solid black;
  margin-top: 4em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 1em;
  line-height: 1.2em;
  font-weight: 500;
  /* padding: 2em; */
  font-size: 1.1em;
  max-width: 55ch;
}
.top-text-one{
  
}

.top-text-two{
  margin-top: 1.5em;
}
label,input{
  display: flex;
}
input{
  padding: 0.3em 0.3em;
  border-radius: 1em;
}
input[type=number]{
  appearance: textfield;
}
.form-container{
  display: flex;
  flex-direction: column;
  gap: 2em;
  border: 2px solid black;
  margin-top: 1.5em;
  margin-bottom: 1em;
  padding: 2em;
  background-color: rgb(165, 41, 41);
}
.form-title{
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 1px;
}
.form{
  display: grid;
  gap: 1em;
  max-width: 70ch;
  grid-template-columns: repeat(2,1fr);
  font-size: 0.9em;
  letter-spacing: 0.6px;
}
.bottom-elements{
  margin-top: 2em;
  gap: 1em;
  display: flex;
  flex-direction: column;
}
.bottom-elements a{
  color: #182b1d;

}
.bottom-elements a:hover{
  color: green;

}
.sub-button{
  padding: 0.8em 0.5em;
  color: white;
  background-color: #16281a;
  border-radius: 1em;
}
.sub-button:hover{
  cursor: pointer;
  background-color: #2f5638;
}
.botton-text{

}

