*{
  padding: 0;
  margin: 0;
}

body{
  font-family: sans-serif;
  font-size: 18px;
  min-height: 100vh;
  background-color: rgb(249, 245, 245);
}
a{
  text-decoration: none;
  color: inherit;
  text-decoration: underline rgba(187, 0, 0, 0.69);
}

.container{
  display: flex;
}
.left{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  min-height: 100vh;
  background-image: url(media/background-1.jpg);
  background-size: cover;
}
.logo-container{
  margin-top: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.415);
  color: white;
  font-size: 1.5rem;
  height: 4em;
}
.logo-container > h2{
  font-weight: 400;
}
.picture-credits{
  color: white;
  margin-bottom: 0.5em;
}
.picture-credits p {
  font-weight: 100;
}
.right{
  display: flex;
  flex-direction: column;
  width: 80%;
  
}
.top-text{
  margin-top: 6em;
  margin-bottom: 3em;
  width: 70%;
  font-weight: 600;
  padding: 1em;
}

.top-text-two{
  margin-top: 1.5em;
}

.middle-form-container{
  display: flex;
  background-color: aliceblue;
  flex-direction: column;
  padding: 1em;
}
.form-title{
  margin-bottom: 2em;
}

.bottom-information{
  margin-top: 2em;
  border-top: solid gray 1px;
  /* how to make a border for this? */
}